spring:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
  session:
    store-type: none
management:
  endpoints:
    web:
      exposure:
        include: health,prometheus
  metrics:
    export:
      prometheus:
        enabled: true
    distribution:
      percentiles-histogram:
        "[http.server.requests]": true
resilience4j:
  ratelimiter:
    configs:
      default:
        limitForPeriod: 10
        limitRefreshPeriod: 1m
        timeoutDuration: 0
app:
  jwt:
    secret: "supersecretkeysupersecretkey123456"
    expirationMillis: 2592000000
  rate-limit:
    retry-after-seconds: 10
    message: "Слишком много запросов"
  mistral:
    api: ${MISTRAL_API_KEY}
    url: "https://api.mistral.ai"

