spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/testdb
    username: postgres
    password: Azazazru228
    driver-class-name: org.postgresql.Driver
  security:
    basic:
      enabled: false
  data:
    redis:
      host: localhost
      port: 6379
  app:
    jwt:
      secret: "supersecretkeysupersecretkey123456"
      expirationMillis: 2592000000
logging:
  level:
    root: INFO
    org.springframework: INFO
    com.example: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{} - %msg%n"