spring:
  session:
    jdbc:
      initialize-schema: always
  datasource:
    # Для Docker используем host.docker.internal
    url: jdbc:postgresql://host.docker.internal:5432/testdb
    username: postgres
    password: Azazazru228
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
  flyway:
    enabled: true
    baseline-on-migrate: true
  security:
    basic:
      enabled: false
  data:
    redis:
      host: host.docker.internal
      port: 6379

logging:
  level:
    root: INFO
    org.springframework: INFO
    ru.teducation: DEBUG
    org.hibernate.SQL: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{} - %msg%n"