spring:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
  app:
    jwt:
      secret: "supersecretkeysupersecretkey123456"
      expiration-millis: 2592000000
  session:
    store-type: none
  logging:
    level:
      root: INFO
      org.springframework: WARN
      org.hibernate: ERROR
      com.example: INFO
